.wrapper{
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-areas: 
    'Header Header Header Header'
    'Menu Content Content Content'
    'Footer Footer Footer Footer';
}
.header{
    background-color: green;
    height: 60px;
    grid-area: Header;
}

.menu{
    background-color: blue;
    height: 40px;
    grid-area: Menu;
}
.content{
    background-color: violet;
    height: 40px;
    grid-area: Content;
}
.footer{
    background-color: orange;
    height: 30px;
    grid-area: Footer;
}