.wrapper{
    max-width: 1000px;
    margin: 20px auto;
}
.header{
    background-color: green;
    height: 60px;
    
}
.container{
    background-color: red;
    display: flex;
    height: 60px;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
}

.menu{
    background-color: blue;
    width: 20%;
}
.content{
    background-color: violet;
    width: 80%;
}
.footer{
    background-color: orange;
    clear: both;
    height: 30px;
}